__pycache__/
*.py[codz]

_build/
build/
dist/

*.zip
*.bak
*.html
*.mo
*.*~
*.sqlite
*.scout

pieces/*.png
eco.db
MANIFEST
/pychess.iml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/workspace.xml
